<div class="container">

	<fieldset>
      <h3>Registration</h3>
      <form name='regForm' novalidate>

        <input type="text" name="firstname" placeholder="Firstname"
          ng-model="regCtrl.user.firstname"
          required
          minlength="2"
		  ng-change = "regCtrl.completed = false">
          {{ regCtrl.user.firstname }}
          <span
            ng-if="(regForm.firstname.$error.minlength || regForm.firstname.$error.required) && regForm.firstname.$touched">
            Firstname must be at least 2 characters long
          </span>
          <br>

		<input type="text" name="lastname" placeholder="Lastname"
          ng-model="regCtrl.user.lastname"
          required
          minlength="2">
          {{ regCtrl.user.lastname }}
          <span
            ng-if="(regForm.lastname.$error.minlength || regForm.lastname.$error.required) && regForm.lastname.$touched">
            Lastname must be at least 2 characters long
          </span>
          <br>
		  
        <input type="email" name="email" placeholder="Email"
          ng-model="regCtrl.user.email"
          required>
          <span ng-if="regForm.email.$invalid && regForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
          <br>
		  
        <input type="text" name="phone" placeholder="Phone ###-###-####"
          ng-model="regCtrl.user.phone"
          pattern="(\d{3})-(\d{3})-(\d{4})"
		  required>
          <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
            Phone must be in the format ###-###-####.
          </span>
          <br>
		  
		<input type="text" name="menuid" placeholder="Favorite menu number"
          ng-model="regCtrl.user.menuid"
		  pattern="(\w{2,})"
		  required
		  ng-change="regCtrl.validateMenuId()">
		  <span ng-if="regCtrl.validated && !regCtrl.validMenuId">
            No such menu number exists
          </span>
          <br>
		  
        <button
          ng-disabled="regForm.$invalid || !regCtrl.validMenuId"
          ng-click="regCtrl.submit()">Submit</button>

          <div style="margin-top: 10px;">
            Form valid? {{ regForm.$valid && regCtrl.validMenuId}}<br>
          </div>
      </form>
    </fieldset>

    <div id="info" ng-if="regCtrl.completed">
	  Your information has been saved <br>
    </div>

</div>
