<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      .message-no-data { color: red; }
      .message-valid-data { color: green; }
      .textbox-no-data { border-style: solid; border-width: 2px; border-color: red; }
      .textbox-valid-data { border-style: solid; border-width: 2px; border-color: green; }
    </style>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body ng-app="LunchCheck">
   <div class="container">
     <h1>Lunch Checker</h1>
     <div ng-controller="LunchCheckController">
         <div class="form-group {{textBoxStyle}}">
             <input type="text" ng-model="lunchItems"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="showMessage()">Check If Too Much</button>
         </div>
         <div class="form-group message {{messageStyle}}">
           <p class="{{message}}">{{message}}</p>
         </div>
      </div>
   </div>
</body>
</html>
